alembic
blinker
Bootstrap-Flask
cffi
click
colorama
cryptography
dnspython
email-validator
Flask
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mysql-connector-python
PyMySQL
python-dotenv
pycparser
pytz
SQLAlchemy
typing-extensions
Werkzeug
WTForms
dlib
mysqlclient
MySQL-python
Flask-Bootstrap   
MySQLdb
flask.ext.bootstrap  